@import './reset.css';

#wrapper {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    overflow-x: hidden;
}

#wrapper > * {
    box-sizing: border-box;
}

#wrapper > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    max-width: inherit;
    height: 80px;
    padding: 10px;
    position: fixed;
    top: 0;
}

#wrapper > main {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 1;
    padding-top: 100px;
    padding-bottom: 60px;
}

div#wrapper > main > div.container-condition {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    margin: 10px 0;
}

div#wrapper > main > div.container-contents {
    display: flex;
    flex: 1;
    overflow: hidden;
}

div#wrapper > main > div.container-contents > section {
    width: 100%;
    flex-shrink: 0;
    font-size: 50px;
}

div#wrapper > nav {
    width: inherit;
    max-width: inherit;
    height: 45px;
    position: fixed;
    bottom: 0;
}
