@import './layout.css';

#wrapper {
    transition: .5s ease;
}

#wrapper.mode-dark {
    background-color: var(--main-std-dark-color);
}

#wrapper.mode-light {
    background-color: var(--main-std-light-color);
}

/** HEADER */

#wrapper.mode-dark header {
    background-color: var(--main-std-dark-color);
}

#wrapper.mode-light header {
    background-color: var(--main-std-light-color);
}

#mainLogo {
    width: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-left: 10px;
}

.mode-dark #mainLogo {
    background-image: url(../images/logo_main_light.png);
}

.mode-light #mainLogo {
    background-image: url(../images/logo_main_dark.png);
}

#headerProfileContainer {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

#headerProfileContainer .btn-login {
    font-size: 15px;
}

.mode-dark #headerProfileContainer .btn-login {
    color: var(--main-std-light-color);
}

.mode-light #headerProfileContainer .btn-login {
    color: var(--main-std-dark-color);
}

/** MAIN */

.container-conditions {
    padding: 0 10px;
    position: fixed;
}

.container-conditions ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.container-conditions ul li {
    margin-right: 10px;
}

div.container-condition-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 20px;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
    transition: .1s ease;
}

div.container-condition-item:has(select.condition-select) {
    min-width: 100px;
    padding: 0;
}

div.container-condition-item.mode-dark {
    color: var(--main-std-light-color);
    border: 1.5px solid var(--main-std-light-color);
}

div.container-condition-item.mode-dark:hover,
div.container-condition-item.mode-dark.selected {
    color: var(--main-std-dark-color);
    background-color: var(--main-std-light-color);
}

div.container-condition-item.mode-light {
    color: var(--main-std-dark-color);
    border: 1.5px solid var(--main-std-dark-color);
}

div.container-condition-item.mode-light:hover,
div.container-condition-item.mode-light.selected {
    color: var(--main-std-light-color);
    background-color: var(--main-std-dark-color);
}

div.container-condition-item select.condition-select {
    width: 100%;
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 20px;
}

div.container-condition-item.mode-dark select.condition-select {
    color: var(--main-std-light-color);
}

div.container-condition-item.mode-light select.condition-select {
    color: var(--main-std-dark-color);
}

div.container-condition-item.mode-dark:hover,
div.container-condition-item.mode-dark select.condition-select:hover {
    color: var(--main-std-dark-color);
}

div.container-condition-item.mode-light:hover,
div.container-condition-item.mode-light select.condition-select:hover {
    color: var(--main-std-light-color);
}

div#regionConditionContainer {
    width: 100px;
    position: relative;
    border: none;
    padding: 0;
}

div#regionConditionContainer > * {
    border-radius: 20px;
}

div#regionConditionContainer div.background-region {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: animatedGradient 5s ease alternate infinite;
}

@keyframes animatedGradient {
	50% {
		background-position: 100% 50%;
	}
}

div#regionConditionContainer select.condition-select {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    z-index: 1;
    border: 1.5px solid transparent;
}

div#regionConditionContainer.mode-dark select.condition-select {
    background-color: var(--main-std-dark-color);
    color: var(--main-std-light-color);
}

div#regionConditionContainer.mode-light select.condition-select {
    background-color: var(--main-std-light-color);
    color: var(--main-std-dark-color);
}

div#regionConditionContainer select.condition-select:hover {
    width: 100%;
    height: 100%;
    padding-left: 11.5px;
    background-color: transparent;
}

div#regionConditionContainer.mode-dark select.condition-select:hover {
    border: 1.5px solid var(--main-std-light-color);
}

div#regionConditionContainer.mode-light select.condition-select:hover {
    border: 1.5px solid var(--main-std-dark-color);
}

#placeItemContainer {
    margin-top: 60px;
}

div.container-toggle-btn {
    width: 40px;
    height: 25px;
    border-radius: 20px;
    position: relative;
    transition: .2s ease;
}

div.container-toggle-btn.mode-dark {
    border: 2px solid var(--main-std-light-color);
    background-color: var(--main-std-light-color);
}

div.container-toggle-btn.mode-light {
    border: 2px solid var(--main-std-dark-color);
    background-color: var(--main-std-dark-color);
}

div.container-toggle-btn, div.container-toggle-btn div.toggle-btn {
    cursor: pointer;
}

div.container-toggle-btn div.toggle-btn {
    width: 25px;
    height: calc(100% + 4px);
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
}

div.container-toggle-btn.mode-dark div.toggle-btn {
    border: 2px solid var(--main-std-light-color);
    background-color: var(--main-std-dark-color);
}

div.container-toggle-btn.mode-light div.toggle-btn {
    border: 2px solid var(--main-std-dark-color);
    background-color: var(--main-std-light-color);
}

div.container-toggle-btn.enabled {
    background-color: #38a7f3;
}

div.container-toggle-btn.enabled div.toggle-btn {
    animation: animatedToggleOn 1s ease forwards;
}

@keyframes animatedToggleOn {
    50% {
        left: 13px;
    }

    100% {
        left: auto;
        right: -2px;
    }
}

.mode-dark nav {
    background-color: #333;
}

.mode-light nav {
    background-color: #c2c2c2;
}

div.container-ai-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
}

div.container-ai-chat div.area-ai-chat {
    width: 100%;
    flex: 1;
    border-radius: 30px;
    padding: 30px;
    transform: scale(0);
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
}

div.container-ai-chat div.area-ai-chat.mode-dark {
    background-color: #222;
    color: var(--main-std-light-color);
    box-shadow: -5px -5px 30px #333;
}

div.container-ai-chat div.area-ai-chat.mode-light {
    background-color: #e2e2e2;
    color: var(--main-std-dark-color);
    box-shadow: -5px -5px 30px #999;
}

div.container-ai-chat div.area-ai-chat:before {
    content: '';
    position: absolute;
    left: 45%;
    bottom: -15px;
    border-left: 15px solid transparent;
}

div.container-ai-chat div.area-ai-chat.mode-dark:before {
    border-top: 15px solid #222;
}

div.container-ai-chat div.area-ai-chat.mode-light:before {
    border-top: 15px solid #e2e2e2;
}

div.container-ai-chat div.area-ai-chat.opened {
    transform-origin: bottom;
    animation: animatedChatOpen .6s ease-out forwards;
}

@keyframes animatedChatOpen {
    60% {
        transform-origin: right;
        transform: scale(1.01);
	}
    
    100% {
        margin-bottom: 25px;
        transform: scale(1);
    }
}

div.container-ai-chat div.area-ai-chat.closed {
    transform-origin: top;
    animation: animatedChatClose .6s ease-out forwards;
}

@keyframes animatedChatClose {
    0% {
        transform: scale(1.01);
    }

    60% {
        transform-origin: bottom;
        transform: scale(0);
	}
    
    100% {
        margin-bottom: -50px;
    }
}

div.container-ai-chat div.area-ai-chat > .header-chat-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.container-ai-chat div.area-ai-chat > .header-chat-area * {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

div.container-ai-chat div.area-ai-chat > .header-chat-area i {
    font-size: 20px;
}

div.container-ai-chat div.area-ai-chat > .header-chat-area span {
    font-size: 30px;
    font-weight: 800;
    margin-left: 5px;
}

div.container-ai-chat div.area-ai-chat div.container-chat-history {
    border: 1px solid white;
    flex: 1;
    margin: 10px 0;
}

div.container-ai-chat div.area-ai-chat div.container-prompt {
    height: 30px;
    position: relative;
}

div.container-ai-chat div.area-ai-chat div.container-prompt input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

div.container-ai-chat div.area-ai-chat.mode-dark div.container-prompt input {
    background-color: var(--main-std-dark-color);
    color: var(--main-std-light-color);
}

div.container-ai-chat div.area-ai-chat.mode-light div.container-prompt input {
    background-color: var(--main-std-light-color);
    color: var(--main-std-dark-color);
}

div.container-ai-chat div.area-ai-chat div.container-prompt button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    cursor: pointer;
    border: none;
}

div.container-ai-chat div.area-ai-chat.mode-dark div.container-prompt button {
    background-color: var(--main-std-light-color);
    color: var(--main-std-dark-color);
}

div.container-ai-chat div.area-ai-chat.mode-light div.container-prompt button {
    background-color: var(--main-std-dark-color);
    color: var(--main-std-light-color);
}

div.container-ai-chat div.btn-open-ai-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    transition: .5s ease;
    cursor: pointer;
    position: relative;
}

div.container-ai-chat div.btn-open-ai-chat.mode-dark {
    background: linear-gradient(310deg, #f40000, #0490ed);
    background-size: 150% 150%;
    background-position: 0 50%;
}

div.container-ai-chat div.btn-open-ai-chat.mode-light {
    background: linear-gradient(310deg, #fa7373, #5fb8f4);
    background-size: 150% 150%;
    background-position: 0 50%;
}

div.container-ai-chat div.btn-open-ai-chat:hover,
div.container-ai-chat div.btn-open-ai-chat.selected {
    animation: animatedGradient 3s ease alternate infinite;
}

div.container-ai-chat div.btn-open-ai-chat div.badge-ai-chat-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #FF5F3A;
    top: 0;
    right: 0;
    border-radius: 50%;
}

div.container-ai-chat div.btn-open-ai-chat span,
div.container-ai-chat div.btn-open-ai-chat p {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

div.container-ai-chat div.btn-open-ai-chat div.badge-ai-chat-btn p {
    font-style: normal;
    font-size: 12px;
    font-weight: 800;
}

div.container-ai-chat div.btn-open-ai-chat span {
    font-style: italic;
    font-size: 23px;
    font-weight: 900;
    color: #fff;
    margin-left: -5px;
}

.container-place-list {
    padding: 0 5%;
}

.place-item {
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.mode-dark .place-item {
    background-color: #666;
    box-shadow: 5px 5px 1px #333;
}

.mode-light .place-item {
    background-color: #f2f2f2;
    box-shadow: 5px 5px 1px #c2c2c2;
}